* {
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #C7E3F2;
}
.card-container {
    margin: 5% auto;
    width: 45%;
    background-color:white;
    border-radius: 12px;
    min-width: 660px;
}
h3 {
    color:white;
}
p {
    color: white;
}
ul {
    color: white;
    list-style-type: none;
}
.work-list{
    padding-left: 0;
    width: 100%;
}
.work-list > li::before {
    content: '☑';
    padding-right: 15px;
}
.hero-img {
    width: 180px;
    height: 180px;
    background-image: url(hero.jpg);
    border-radius: 50%;
    background-position: center;
    background-size: contain;
}
.name-title {
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name {
    color: #383838;
    font-size: 3rem;
    margin: 3%;
}
.title {
    color: rgb(184, 179, 179);
}
.section-about {
    background-color: #4299FF;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-work {
    background-color: #3C8EEE;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-contact {
    background-color: #277DE3;
    height: 350px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
}
.inner {
    width: 80%;
    height: 80%;
    margin: 10px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    border-right: 1px solid lightgrey;
    margin-right: 50px;
    padding: 50px;
    margin-left: 0;
    text-align: right;
}

.button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    height: 60%;
    justify-content: space-between;
    width: 50%;
    margin: 10px;
}
.work-list a {
    text-decoration: underline;
    color: white;
    transition: 1s ease color;
}

.work-list a:hover{
    text-decoration: underline;
    color: #33D7FD;
    transition: 1s ease color;
}
.about-content a {
    text-decoration: underline;
    color: white;
    transition: 1s ease color;
}

.about-content a:hover{
    text-decoration: underline;
    color: #33D7FD;
    transition: 1s ease color;
}
.section-contact ul li{
    display: flex;
    height: 30%;
    width: 45%;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: 1s ease color;
}
.section-contact ul li:hover {
    background-color: rgba(135, 206, 250, 0.219);
    border-color: #33D7FD;
    transition: 1s ease color;
}
.button-1 {
    color: white;
    text-decoration: none;
}
.button-1::before {
    content: url(twitter-16.png);
}
.button-2 {
    color: white;
    text-decoration: none;
}
.button-2::before {
    content: url(facebook-16.png);
}
.button-3 {
    color: white;
    text-decoration: none;
}
.button-3::before {
    content: url(instagram-16.png);
}
.button-4 {
    color: white;
    text-decoration: none;
}
.button-4::before {
    content: url(linkedin-16.png);
}
.button-5 {
    color: white;
    text-decoration: none;
}
.button-5::before {
    content: url(phone-16.png);
}
.button-6 {
    color: white;
    text-decoration: none;
}
.button-6::before {
    content: url(email-16.png);
}

.section-contact a:hover{
    color: #33D7FD;
    transition: 1s ease;
}